[submodule "src/instrumentation_measurement/evmone"]
	path = src/instrumentation_measurement/evmone
	url = https://github.com/imapp-pl/evmone
[submodule "src/instrumentation_measurement/geth_benchmark"]
	path = src/instrumentation_measurement/geth_benchmark
	url = https://github.com/imapp-pl/go-ethereum
	branch = imapp_benchmark
[submodule "src/instrumentation_measurement/nethermind_benchmark"]
	path = src/instrumentation_measurement/nethermind_benchmark
	url = https://github.com/imapp-pl/nethermind
	branch = imapp_benchmark
[submodule "src/instrumentation_measurement/go-ethereum"]
	path = src/instrumentation_measurement/go-ethereum
	url = https://github.com/imapp-pl/go-ethereum
