[submodule "src/instrumentation_measurement/openethereum"]
	path = src/instrumentation_measurement/openethereum
	url = ../openethereum.git
[submodule "src/instrumentation_measurement/evmone"]
	path = src/instrumentation_measurement/evmone
	url = ../evmone.git
[submodule "src/instrumentation_measurement/geth_benchmark"]
	path = src/instrumentation_measurement/geth_benchmark
	url = https://github.com/JacekGlen/go-ethereum
	branch = imapp_benchmark
[submodule "nethermind_benchmark"]
	path = src/instrumentation_measurement/nethermind_benchmark
	url = https://github.com/JacekGlen/nethermind
	branch = imapp_benchmark
