<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 3</title>
</head>
<body>
    <h3>Select files with benchmark results</h3>
    <form method="POST">
        <input type="hidden" name="step" value="3">
        <select id="selected_results_paths" name="selected_results_paths" multiple>
            {% for path in results_paths %}
                <option value="{{ path }}">
                    {{ path }}
                </option>
            {% endfor %}
        </select>
        {% for path in selected_bytecodes_paths %}
            <input type="hidden" name="selected_bytecodes_paths" value="{{ path }}">
        {% endfor %}
        <input type="hidden" name="env" value="{{ env }}">
        <button type="submit">Generate raport</button>
    </form>
</body>
</html>
